.App {
  font-family: montserrat;
  display: flex;
  flex-direction: column;
}

.map-container {
  position: relative;
  height: calc(100vh - 70px); /* Ajuste del tamaño del mapa (resta el tamaño del navbar) */
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

body, html, #root {
  font-family: montserrat, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}